@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    max-width: 1280px;
    height: 100vh;
    margin: 0 auto;
    background-color: #000;
}

/* HEADER */

header {
    margin-bottom: 2em;
}

.topo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 2em;
    border-bottom: 1px solid rgba(169, 169, 169, 0.134);
}

.topo a {
    transition: .3s;
}

.logo {
    padding: .5em;
}

.menubar {
    padding: 1em;
}

.menubar i {
    font-size: 2em;
    color: white;
}

.menu {
    display: none;
    background-color: rgb(15, 14, 14);
    width: 100%;
    margin: 1em;
    padding: 1em;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    padding: .5em;
}

.menu ul li a {
    font-weight: 600;
    text-decoration: none;
    font-size: 1.2em;
    color: darkgray;
}

/* PRODUTOS BLACK */


.produtos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.produtos a {
    margin: .5em;
}

.produtos h3 {
    color: white;
    margin-bottom: 2em;
}

.black-produtos {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.black-produtos a { 
    text-transform: uppercase;
    width: 200px;
    padding: 1em;
    border-radius: 20px;
    text-decoration: none;
    color: red;
    font-weight: 800;
    background-color:black;
    border: 1px solid darkgray;
}

#blackimg {
    display: none;
}

.imagens {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    max-width: 300px;
}

.imagens img {
    width: 250px;
    height: 250px;
    margin: 1em;
}

.img-black {
    box-shadow: 0px 0px 5px rgb(41, 40, 40);
    border-radius: 8px;
    margin: 1em;
    background-color: rgb(15, 15, 15);
}
.img-black h4 {
    color: white;
    text-align: center;
    padding: 1em;
}

/* PRODUTOS DARKLAB */

.darklab-produtos {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.darklab-produtos a {
    text-transform: uppercase;
    width: 200px;
    padding: 1em;
    border-radius: 20px;
    text-decoration: none;
    color: red;
    font-weight: 800;
    background-color:black;
    border: 1px solid darkgray;
}

#darklabimg {
    display: none;
}

.img-darklab {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    box-shadow: 0px 0px 5px rgb(41, 40, 40);
    border-radius: 8px;
    margin: 1em;
    background-color: rgb(15, 15, 15);
}

.img-darklab h4 {
    color: white;
    text-align: center;
    padding: 1em;
}

/* DEMAIS PRODUTOS */

#demaisprodutos {
    display: none;
}

.demais-produtos {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2em;
}

.demais-produtos a {
    text-transform: uppercase;
    width: 200px;
    padding: 1em;
    border-radius: 20px;
    text-decoration: none;
    color: red;
    font-weight: 800;
    background-color:black;
    border: 1px solid darkgray;
}

.demaisprodut {
    box-shadow: 0px 0px 5px rgb(41, 40, 40);
    border-radius: 8px;
    margin: 1em;
    background-color: rgb(15, 15, 15);
}

.demaisprodut h4 {
    color: white;
    text-align: center;
    padding: 1em;
}

/* ENTREGAS */

.entrega {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.entrega-locais {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: white; 
}

.entrega-locais h3 {
    text-transform: uppercase;
}

.entrega-locais p {
    padding: 1em;
    color: darkgray;
   
}

.entrega-locais span {
    font-size: 1.2em;
    color: red;
}

.entrega-locais h2 {
    padding: 1em;
    text-transform: uppercase;
}

/* COMPRA */

.compra {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 200px;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../img-pages/banner-03.jpg);
    background-size: cover;
    background-position: right center;
    margin-bottom: 1em;
}

.img-compra a {
    border-radius: 20px;
    text-transform: uppercase;
    border: 1px solid red;
    padding: .5em;
    background-color: rgba(17, 15, 15, 0.648);
    font-size: 2em;
    color: white;
    font-weight: 500;
    text-decoration: none;
    text-shadow: 0px 8px rgb(5, 5, 5);
}


/* FOOTER  */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text {
    color: darkgray;
    padding: 1em;
    font-size: .9em;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1em;
}
.instagram {
    
    padding: .5em;
    border: 2px solid red;
    border-radius: 8px;
    margin: .2em;
}

.instagram a {
    color: white;
    font-size: 2em;
}

.whats {
    border: 2px solid red;
    border-radius: 8px;
    padding: .5em;
    margin: .2em;
}

.whats a {
    color: white;
    font-size: 2em;
}