@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    .menubar {
        display: none;
    }

    header {
        display: block;
        flex-direction: row;
    }

    nav {
        display: flex;
    }

    nav ul li {
        display:inline-block ;
    }
}